@import '~@fluentui/react/dist/sass/References.scss';

.tabContent {
  padding: 20px;
  
  h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
  }
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 200px;
}

.listItem {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid $ms-color-neutralLight;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:hover {
    background-color: $ms-color-neutralLighter;
  }
}

.itemIcon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;
  border-radius: 50%;
  margin-right: 12px;
  
  i {
    font-size: 18px;
  }
}

.itemContent {
  flex: 1;
  min-width: 0;
}

.itemTitle {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
  color: $ms-color-neutralPrimary;
  
  a {
    color: $ms-color-themePrimary;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      color: $ms-color-themeDark;
    }
  }
}

.itemDetails {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $ms-color-neutralSecondary;
  margin-bottom: 2px;
}

.detailIcon {
  margin-right: 6px;
  font-size: 12px;
}

.itemPreview {
  font-size: 12px;
  color: $ms-color-neutralTertiary;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder {
  padding: 20px;
  background-color: $ms-color-neutralLighterAlt;
  border-radius: 4px;
  margin-top: 16px;
  
  p {
    margin-top: 0;
    font-weight: 600;
  }
  
  ul {
    margin-bottom: 0;
    
    li {
      margin-bottom: 8px;
    }
  }
}
